html {
    overflow-x: hidden;
}
 
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(135deg, #f0f4ff, #e6f7ff);
}


h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}


p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
 }


.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 1px 0px 1px;
    margin: 0;
    height: 80px;
}


.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;


}


.img{
    height: 60px;
    width: 60px;
    margin-top: 5px;
    margin-right: 10px;
}


.classes, .leaderboard, .flashcards{
    margin-left: 1rem;
    background: transparent;
    border: 2px solid #4f46e5;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    color: #4f46e5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}


.classes {
    margin-right: 35px;
    margin-left: 10px;
}


.leaderboard {
    margin-right: 10px;
    margin-left: 10px;
}


.flashcards {
    margin-right: 10px;
    margin-left:0;
}




.classesLink, .leaderboardLink, .flashcardsLink {
    color: #4f46e5;
    text-decoration: none;
}


.classesLink:hover, .leaderboardLink:hover, .flashcardsLink:hover {
    color: white;
    text-decoration: none;
}


.classes:hover, .leaderboard:hover, .flashcards:hover {
    color: white;
    background-color: #8075FF ;
}




.company {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-right: 900px;
    font-family: Arial, Helvetica, sans-serif;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 304px;
}


.hero-text {
    flex: 1 1 400px;
    padding-right: 2rem;


}


.nicki {
    margin-left: 25px;
}


footer {
    text-align: center;
    background: #4f46e5;
    color: white;
    padding: 3rem 2rem;
}


.footerLink {
    color: white;
}

