<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flashcards Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='flashcards.css') }}">
</head>
<body>
    <h1>Flashcards Home</h1>
    <h2>Choose a Class</h2>
    <ul>
        <li>
            ENSC 151:
            <a href="/ENSC151_flashcards">Flashcards</a>
        </li>
        <li>
            MATH 100:
            <a href="/MATH100_flashcards">Flashcards</a>
        </li>
    </ul>
</body>
</html>



